doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title Zoom
    body
        header
            h1 Zoom
        main
            div#status
                h1
            div#nickname
                form
                    input(type="text", placeholder="Choose a nickname", required)
                    button Save
            div#room
                form
                    input(type="text", placeholder="Room name", required)
                    button Join
                ul
            div#message
                h3
                form#message
                    input(type="text", placeholder="Write a message", required)
                    button Send
                ul
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 